header {
    background-color: darkgrey;
    display         : flex;
    justify-content : center;
    padding         : 10px;
    position        : sticky;
    top             : 0;
    z-index         : 20;
}